.layout {
  min-height: 100vh !important;
}
.header {
  background-color: seagreen !important;
}
.headerText {
  color: white !important;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 64px - 70px);
  background-color: white;
}

.content_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 540px) {
  .headerText {
    font-size: 6vw !important;
  }
  .content {
    padding: 5px;
  }
}
